<div id="footer">      
  @if (User.Identity.IsAuthenticated)
    <div>
      @if (User.Identity.IsAuthenticated)
      {
        <div>
          <span style="font-size: 85%">logged in as:</span>
          <br />
          <span class="highlighted">@User.Identity.Name</span>
        </div>
        <div style="margin-left: 10px">
          @using (Html.BeginForm("LogOff", "Account"))
          {
            <button type="submit" class="logout">Log out</button>
          }
        </div>
      }
      else
      {
        <a href='@Url.Action("Register", "Account")'>
          <button class="login register">Register</button>
        </a>
        <a href='@Url.Action("Login", "Account")'>
          <button class="login">Log in</button>
        </a>
      }
      </div>