body {
	background-image: url('../Img/honey-fangs--JU0sqGjeC0-unsplash.jpg');
	background-color: rgb(3, 3, 3);
	/* color: rgb(236, 163, 98); */
	color: rgb(156, 77, 8);
	font-weight: bolder;
		font-size: larger;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 125%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	
}

div#footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	color: #CCC;
	background: #333333;
	padding: 8px;
}

body{
	--stroke-color: rgb(53, 35, 19);
	--stroke-width: 1px;
	color: rgb(250, 243, 238);
	text-shadow: 
		0.75px 0.75px var(--stroke-width) var(--stroke-color),
		-0.75px 0.75px var(--stroke-width)var(--stroke-color),
		-0.75px -0.75px var(--stroke-width) var(--stroke-color),
		0.7px -0.75px var(--stroke-width) var(--stroke-color)
	;
}

.container{
	max-width: 850px;
	/* background-color: rgba(44, 35, 37, 0.425); */
	background-color: rgba(220, 153, 94, 0.274);
}

a{
	--stroke-color: rgba(54, 40, 14, 0.521);
	--stroke-width: 1px;
	color: rgb(255, 171, 16);
	text-shadow: 
	0.75px 0.75px var(--stroke-width) var(--stroke-color),
	-0.75px 0.75px var(--stroke-width)var(--stroke-color),
	-0.75px -0.75px var(--stroke-width) var(--stroke-color),
	0.7px -0.75px var(--stroke-width) var(--stroke-color)
}

table td {
  color: white;
}